*/src/
*/pkg/
*.pkg.tar.zst
build/
lenarch-scripts/lenarch-scripts
lenarch-wallpapers/lenarch-wallpapers
lenarch-openbox/lenarch-openbox
lenarch-cinnamon/lenarch-cinnamon
lenarch-plasma/lenarch-plasma
lenarch-skel/lenarch-skel
*.tar.gz